.excelupload {
  padding: 30px;
  text-align: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 500px;
  background-color: aqua;
}

.excelupload input {
  margin-top: 40px;
}
